body {
    background-image: linear-gradient(to bottom , rgb(23, 76, 248), rgb(255, 255, 255)
    );
  }
  html {
    height: 210%;
}
body {
    min-height: 100%;
}


section .cards{
  display: flex;  
}

section .cards .textcards{
    background: rgb(228, 211, 211);
    margin: 20px;
    padding: 20px;
}

section .cards .textcards h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  

.hide {
  visibility: hidden;
}

.container1 {
  display: flex;
  justify-content: right;
  align-items: center;
}

.ub-text-card {
  border-radius: 0.125rem;
  box-shadow: 0 2px 4px rgba(172, 172, 172, 0.5);
  transition: box-shadow 250ms cubic-bezier(0.5, 0, 0.15, 1);
  background: rgb(209, 170, 170);
  text-align: center;
  position: right;
  width: 200%;
  width: 20%;
  padding: 1rem 5.875rem 20.5rem;
  margin: 20px;
  padding: 100x;
  height: 30%;
  
  position: absolute;
    top: 20%;
    left: 65%;
    right: 45%;
    bottom: 95%;

}

#section1 {
  height: 200px;
}

#section2 {
  height: 100px;
  
}

h1, h2, SPAN, center, h3, h4 {
  color: rgb(255, 255, 255);
}
body {
  background-color: rgb(249, 249, 249);
  margin: 50px;
}


