body {
    background-image: linear-gradient(to bottom , rgb(23, 76, 248), rgb(255, 255, 255)
    );
  }
  html {
    height: 300%;
}
body {
    min-height: 100%;
}

div .cards .textcards {
  background-color: lightgreen;
  margin: 5px;
  padding: 5px;
}
section .cards{
  display: flex;  
}

section .cards .textcards{
    background: rgb(228, 211, 211);
    margin: 20px;
    padding: 20px;
}

section .cards .textcards h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .alignright {
    float: right;
}

.hide {
  visibility: hidden;
}

