body {
    background-image: linear-gradient(to bottom , rgb(23, 76, 248), rgb(255, 255, 255)
    );
  }
  html {
    height: 300%;
}
body {
    min-height: 100%;
}

div .cards .textcards {
  background-color: black;
  margin: 20px;
  padding: 20px;
}
section .cards{
  display: flex;  
}

section .cards .textcards{
    background: rgb(228, 211, 211);
    margin: 20px;
    padding: 20px;
}

section .cards .textcards h3{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .USA-1:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-image: url(danmark.gif);
}

.USA-1:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.hide {
  visibility: hidden;
}

